h3
{
    font-size: 1.6rem;
    font-weight: 300;

    margin-bottom: 1.5rem;
}

ul
{
    margin: 1em 0 1em;
    li
    {
        margin-bottom: .5em;
    }
}

hr
{
    margin: 2em 0;
}

pre
{
    padding: 10px;

    border: 1px solid #e5e5e5;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}
