.menu{
  ul{
    margin: 0px;
    padding: 0px;
  }
}

.menu-header{
  ul{
    display: flex;
    >li{
      list-style-type: none;
      a{
        padding: 10px;
        display: block;
        color: #fff;
      }
    }
  }
}

.menu-footer{
  ul{
    display: flex;
    >li{
      list-style-type: none;
      a{
        padding: 10px;
        display: block;
        color: #fff;
      }
    }
  }
}
